body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white; 
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.letter {
    width: 50px; 
    height: 50px;
    margin: 0 5px; 
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #357ae8;
}

.search-image {
    width: 15px;
    height: 15px;
    margin-right: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    width: 800px;
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
}